
<html ng-app="TodoApp">
<head>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="service.js"></script>
	<script type="text/javascript" src="directive.js"></script>
</head>
<body ng-controller="TodoController as ctrl">
	<input type="text" ng-model="ctrl.newTask" />
	<button ng-click="ctrl.addNewTask()">Create new task</button>

	<ta-todo-list></ta-todo-list>
</body>
</html>